<div class="container">
  <div class="row">
    <h4>URL Shortener</h4>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="">
    <form action="">
      <input type="text" name="url" id="url" placeholder="Input URL here">
      <button type="submit">Shorten</button>
    </form>
  </div>
</div>