<div class="container">
  <div class="row">
    <h4>URL Shortener</h4>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="">
    <h3>Success!Please use this link:</h3>
    <a href="http://localhost:3000/shortener/{{shortUrl}}"
      id="result-url">http://localhost:3000/shortener/{{shortUrl}}</a>
    <button id="copy-button">Copy</button>
  </div>
</div>